* {
    user-select: none;
    -webkit-user-select: none;  /* Chrome all / Safari all */
    -moz-user-select: none;
}
main {
    display: flex;
}
.box {
    border: solid 1px black;
    width: 80px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center
}
.activeShrimp {
    color: red;
}
.leftParent {
    background-color: rgba(255, 134, 86, 0.673);
}
.rightParent {
    background-color: rgba(40, 255, 133, 0.804);
}
.left, .right {
    border: solid 3px;
    text-align: center;
    /* line-height: 50px; */
    cursor: pointer;
}
.left {
    transform: rotateY(180deg);
}
